<div ng-controller="DE_LocalStorage_mediaDataCtrl">

    <div class="panel">

        <div ng-mediadata-image-selector></div>
        <h2 class="panel-title">
            Actions
        </h2>

        <div class="panel-body">

            <a ng-click="saveImage()" class="btn btn-primary"><i class="fa fa-save"></i> save image to LS</a>
            <a ng-click="deleteImage()" class="btn btn-danger"><i class="fa fa-trash-o"></i> delete from
                LS</a>

        </div>
        <h2 class="panel-title">
            Image loaded from LocalStorage:
        </h2>

        <div class="panel-body">
            <img id="imagePlaceholder">
            <a class="btn btn-default" ng-click="loadImage()"><i class="fa fa-refresh"></i> update</a>

        </div>
    </div>

</div>
