<div content-for="title">
    {{ stringForTitle }}
</div>

<div content-for="navbarAction">
    <!--this codes overwrites the navbarAction with --nothing-- to leave a blank space there -->
</div>

<div class="scrollable">
    <div class="scrollable-content">

        <div class="btn-group justified nav-tabs">
            <a class="btn btn-default"
               target="webSql_singleValues"
               toggle="on"
               ng-click="enableTab_singleValues()"
               active-class="active">single values
            </a>

            <a class="btn btn-default"
               target="webSql_strData"
               toggle="on"
               ng-click="enableTab_strData()"
               active-class="active">str. data
            </a>

            <a class="btn btn-default"
               target="webSql_mediaData"
               toggle="on"
               ng-click="enableTab_mediaData()"
               active-class="active">media data
            </a>
        </div>

        <div class="tab-content">

            <div class="tab-pane"
                 toggleable
                 ng-class="{active: tab == 1}"
                 default="active"
                 id="webSql_singleValues"
                 exclusion-group="myTabs">

                <div ng-include src='"DE_webSql_singleValues.html"'></div>
            </div>

            <div class="tab-pane"
                 toggleable
                 ng-class="{active: tab == 2}"
                 id="webSql_strData"
                 exclusion-group="myTabs">

                <div ng-include src='"DE_webSql_strData.html"'></div>
            </div>

            <div class="tab-pane"
                 toggleable
                 ng-class="{active: tab == 3}"
                 id="webSql_mediaData"
                 exclusion-group="myTabs">

                <div ng-include src='"DE_webSql_mediaData.html"'></div>
            </div>

        </div>
    </div>
</div>